html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

main {
  display: block;
  margin-left: 70px;

    .fixed-nav {
    position: fixed;
    left: 70px;
    width: -webkit-fill-available;
    background: var(--costum-dark-bg);
    color: var(--costum-dark-text);
  }
}

