<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id | ID' }}">

  {% include /desktop/head.html %}

  <body class="bg-dark">

  {% include /desktop/drawerSidebar.html %}
  {% include /desktop/navbar.html %}
    <main class="content" id="mainContent" aria-label="Content">
      {{ content }}
    </main>
<script>
  const toggleBtn = document.getElementById('menuToggle');
  const sidebar = document.getElementById('drawer');
  const content = document.getElementById('mainContent');
  const navbar = document.getElementById('navbar');

  toggleBtn.addEventListener('click', () => {
    sidebar.classList.toggle('collapsed');
    content.classList.toggle('collapsed');
    navbar.classList.toggle('collapsed');
    toggleBtn.classList.toggle('collapsed');
  });
</script>
  {% include desktopUIGuard.html %}
  <script src="{{ '/assets/vendor/bootstrap/@popperjs/core/dist/umd/popper.min.js' | relative_url }}"></script>
  </body>
</html>